:root {
  font-size: 10px;
}

body {
  color: #1d2129;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: Roboto, "Noto Sans", -apple-system, BlinkMacSystemFont, sans-serif;;
  line-height: 1.8;
}

a {
  color: #365899;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
